<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75820450814-607hsrb3n5coa06j8k81una616tlisqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75820450814-607hsrb3n5coa06j8k81una616tlisqc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>75820450814-ohgfdt7jon8qhpi55oe9vtme9dcls2tl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBRcZI4hdRRVHZFWmTDl012Zj5gTwgJkqY</string>
	<key>GCM_SENDER_ID</key>
	<string>75820450814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rython.eatit</string>
	<key>PROJECT_ID</key>
	<string>eatit-2dee5</string>
	<key>STORAGE_BUCKET</key>
	<string>eatit-2dee5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75820450814:ios:238699d252b70af80d36af</string>
</dict>
</plist>